body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.home {
  width: 100%;
  color: #4e4e4e;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/*--------------------------------------------------------------- Nav Bar */
.logo {
  cursor: pointer;
  width: 50px;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-image: url("assets/logo1.jpeg");
  background-size: 70px 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0rem 1rem;
  background-color: #f4f5ef;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navlist {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  background-color: #f4f5ef;
  margin: 0px;
}

.navlist a {
  display: flex;
  color: #4e4e4e;
  text-decoration: none;
  font-weight: 2rem;
}

.burger {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #4e4e4e;
  margin: 5px;
  transition: all 0.3s ease;
}
.disabled-link {
  pointer-events: none;
  color: #7a7a7a !important;
}

@media only screen and (max-width: 800px) {
  .navlist {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .nav {
    position: fixed;
    width: 100%;
  }
  .navlist {
    position: fixed;
    right: 0px;
    height: 95vh;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    margin: 0;
    align-items: center;
    padding: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .navlist li {
    opacity: 0;
    padding: 1.5rem 1.5rem;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navListFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.fade1 {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  display: none;
  cursor: pointer;
  opacity: 0.5;
  border: 0;
}

.fade1-active {
  display: block;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
/*---------------------------------------------------------------------------- Cover*/

.cover {
  min-height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3400&q=80");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.cover-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* .cover:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-out;
} */
@media only screen and (min-width: 1069px) {
  .floatCt {
    font-size: 1.3em;
  }
  h2,
  h1,
  h3,
  .cards-title {
    font-size: 2rem;
  }
  .cover-text {
    font-size: 2.2rem;
  }
  svg {
    width: 30%;
  }
  .cards-container {
    min-height: 70vh;
  }

  .img-card {
    margin: 20px 50px;
  }

  .info-link a{
    font-size: 1.6rem;
  }
  .links-section{
    margin: 40px 0px;
  }
}
@media only screen and (max-width: 1068px) {
  .cover,
  .cards-container {
    min-height: 60vh;
  }
  h2,
  h1,
  h3,
  .cards-title {
    font-size: 1.8rem;
  }
  .cover-text {
    font-size: 2rem;
  }
  .floatCt {
    font-size: 1.2em;
  }
  svg {
    width: 40%;
  }

  .img-card {
    margin: 20px 40px;
  }

  .info-link a{
    font-size: 1.4rem;
  }
  .info-link{
    margin: 10px 0px;
  }
  
  .links-section{
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
  }
}

@media only screen and (max-width: 734px) {
  .cover,
  .cards-container {
    min-height: 40vh;
  }
  h2,
  h1,
  h3,
  .cards-title {
    font-size: 1.6rem;
  }
  .cover-text {
    font-size: 1.8rem;
    text-align: center;
  }
  .floatCt {
    font-size: 0.9em;
  }
  svg {
    width: 60%;
  }

  .card-slides {
    flex-direction: column;
  }
  .img-card {
    margin: 40px 150px;
  }
  .info-link a{
    font-size: 1.3rem;
  }
  .info-link{
    margin: 10px 0px;
  }
  .links-section{
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
  }
  .sigin-long-text{
    width: 65%;
  }

  .flex-interactive{
    flex-direction: column;
  }
  .design-info {
    margin: 50px 15px !important;
  }

  .interactive-section h2{
    margin-bottom: 30px !important;
  }
  .wtap-text,.call-text{
    display: none !important;
  }
  .contact-link{
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    width: 25px;
    scale: 1.8;
  }
  
}

@media only screen and (max-width: 450px) {
  svg {
    width: 90%;
  }
  .cover-text {
    font-size: 1.6rem;
    text-align: center;
  }
  .img-card {
    margin: 0px 50px 30px;
  }
}

@media only screen and (max-width: 340px) {
  .floatCt {
    font-size: 0.5em;
  }
  .cover-text {
    font-size: 1.4rem;
    text-align: center;
  }
  .img-card {
    margin: 0px 50px 30px;
  }
}

h1,
h2 {
  margin: 0;
}

.Wat {
  background-color: #5db559;
}

.Call {
  background-color: #3771e0;
  border:0px;
  cursor: pointer;
}

.floatCt {
  padding: 0px 10px;

  color: #fff;
  border-radius: 50px;
  text-align: center;

  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  text-decoration: none;
  margin: 45px 30px;
}

.floatCt:hover {
  transform: scale(1.07);
  transition: all 0.5s ease;
  color: #fff;
}

.cover-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contactLinks {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.floatCt:hover,
.floatCt:visited,
.floatCt:link,
.floatCt:active {
  text-decoration: none;
}

/*---------------------------------------------------------------------- Latest Desgins */
.cards-heading,
.cards-title {
  text-align: center;
  margin: 40px;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
.card-slides {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-img {
  height: 100%;
  width: 100%;
  position: relative;
}

.card-link {
  margin-top: 20px;
  color: black;
  text-decoration: none;
}

.card-link:hover{
  text-decoration: underline;
}



.carousel-item .card-img {
  border-radius: 30px;
}

.links-section{
  display: flex;
  justify-content: space-around;
  padding-bottom: 7px;
}

.info-link a{
  text-decoration: none;
  color: darkslategray;
}
.info-link a:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
}


/* ------------------------------------------------------------------------ our signature*/
.interactive-section {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 50px;
  text-align: center;
}
.interactive-section h2{
  margin-bottom: 40px;
}

.flex-interactive{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px 0px;
}

.interactive-image{
  height: 500px;
  width: 300px;
  border-radius: 10px;
}

.flex-interactive-contactLinks{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.design-info{
  margin: 0px 15px;
}

@media only screen and (max-width: 1210px) {
  .interactive-image{
    height: 450px !important;
    width: 300px !important;
  }
}

@media only screen and (max-width: 1130px) {
  .interactive-image{
    height: 400px !important;
    width: 275px !important;
  }
}

@media only screen and (max-width: 890px) {
  .interactive-image{
    height: 375px !important;
    width: 250px !important;
  }
  .interactive-text{
    font-size: 1.6rem;
  }
}
/* ------------------------------------------------------------------------ footer*/
.footer {
  display: flex;
  justify-content: center;
  min-height: 5vh;
}

.cp-text{ 
  color: rgba(0,0,0,.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  margin: 10px;
}

/*---------------------------------------------------------------------- Landing Animation */

.landing {
  width: 100%;
  height: 100vh;
  position: absolute;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hide 0.5s ease forwards 2.6s;
  margin-left: 10px;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.intro-text {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  margin: 0;
  overflow: hidden;
}

.text {
  transform: translateY(100%);
  display: inline-block;
}

.slider1 {
  position: fixed;
  background-color: rgb(195, 233, 179);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 3;
}
.slider2 {
  position: fixed;
  background-color: rgb(255, 196, 233);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  z-index: 3;
}
.slider3 {
  position: fixed;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  z-index: 3;
}

#title path:nth-child(2) {
  stroke-dasharray: 356px;
  stroke-dashoffset: 356px;
  animation: line-anim 2s ease forwards;
}

#title path:nth-child(3) {
  stroke-dasharray: 350px;
  stroke-dashoffset: 350px;
  animation: line-anim 2s ease forwards 0.1s;
}
#title path:nth-child(4) {
  stroke-dasharray: 366px;
  stroke-dashoffset: 366px;
  animation: line-anim 2s ease forwards 0.2s;
}

#title path:nth-child(5) {
  stroke-dasharray: 309px;
  stroke-dashoffset: 309px;
  animation: line-anim 2s ease forwards 0.3s;
}
#title path:nth-child(6) {
  stroke-dasharray: 326px;
  stroke-dashoffset: 326px;
  animation: line-anim 2s ease forwards 0.4s;
}
#title path:nth-child(7) {
  stroke-dasharray: 320px;
  stroke-dashoffset: 320px;
  animation: line-anim 2s ease forwards 0.5s;
}
#title path:nth-child(8) {
  stroke-dasharray: 381px;
  stroke-dashoffset: 381px;
  animation: line-anim 2s ease forwards 0.6s;
}
#title path:nth-child(9) {
  stroke-dasharray: 309px;
  stroke-dashoffset: 309px;
  animation: line-anim 2s ease forwards 0.7s;
}

#title path:nth-child(10) {
  stroke-dasharray: 329px;
  stroke-dashoffset: 329px;
  animation: line-anim 2s ease forwards;
}

#title path:nth-child(11) {
  stroke-dasharray: 350px;
  stroke-dashoffset: 350px;
  animation: line-anim 2s ease forwards 0.1s;
}
#title path:nth-child(12) {
  stroke-dasharray: 423px;
  stroke-dashoffset: 423px;
  animation: line-anim 2s ease forwards 0.2s;
}
#title path:nth-child(13) {
  stroke-dasharray: 402px;
  stroke-dashoffset: 402px;
  animation: line-anim 2s ease forwards 0.3s;
}
#title path:nth-child(14) {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-anim 2s ease forwards 0.4s;
}
#title path:nth-child(15) {
  stroke-dasharray: 450px;
  stroke-dashoffset: 450px;
  animation: line-anim 2s ease forwards 0.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.spinner{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #36d7b7;
  z-index: 5000;
}


